[database_config]
dbhost = your_mysql_hostname ; without quotes or double quotes
dbuser = db_username
dbpass = db_password
dbname = db_name
dbport = db_port

[app_config]
API_KEY = secret
project = your_google_cloud_project_id
default_timezone = US/Pacific
bucket_name = your_google_cloud_Storage_bucket_name
datastore_kind = kind_name_for_credentials

[bigquery_config]
dataset = Your_google_bigquery_dataset
table_heartrate = Your_google_bigquery_table_heartrate
table_activities = Your_google_bigquery_table_activities
table_segments = Your_google_bigquery_table_activity_segments
table_steps = Your_google_bigquery_table_steps
table_calories = calories