bottle
bottle-mysql
oauth2client
google-api-python-client
requests
gunicorn
pytz
ConfigParser
mysqlclient
google-cloud-bigquery
google-python-cloud-debugger
google-cloud-datastore
grpcio
google-cloud-error-reporting
google-cloud-storage